/* SignUpStyles.css */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('signup1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.signup {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    width: 65vh;
    border-radius: 20px;
    margin-right: 10vh;
}

.container1 {
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    width: 55vh;
}

.form-title {
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

.form-inputy {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    border-style: outset;
}

.form-input::placeholder {
    color: #fff;
    font-size: 14px;
}

.agree-term {
    margin-right: 10px;
}

.label-agree-term {
    font-size: 14px;
}

.form-submit {
    position: relative;
    width: 50%;
    padding: 10px 1px;
    border: none;
    border-radius: 5px;
    background-color: #60A6B6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    overflow: hidden;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-top-color: #fff;
    animation: rotate 2s linear infinite;
}

.loading .spinner {
    display: block;
}

.form-submit:hover {
    background-color: #45a049;
}

.loginhere {
    margin-top: 15px;
    font-size: 14px;
}

.loginhere-link {
    color: #4CAF50;
}

.error {
    color: red;
    margin-top: 5px;
}

.success {
    color: green;
}

/* Additional styles for demonstration box */

.containery {
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    padding: 40px 60px;
    max-width: 800px;
    width: 120%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
}

.containery:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.containery:hover .border {
    transform: translateY(4px) rotate(-5deg);
}

.border {
    position: absolute;
    transition: all 0.13s ease-in;
}

.border:before,
.border:after {
    color: #515d9c;
    font-size: 15px;
    position: absolute;
}

.tl {
    position: absolute;
    left: -50px;
    top: -63px;
    font-weight: 600;
}

.tl:before {
    content: "37px";
    left: 120px;
    top: 30px;
}

.tl:after {
    content: "140px";
    left: 0px;
    top: 80px;
}

.tr {
    right: -50px;
    top: -63px;
    font-weight: 600;
}

.tr:before {
    content: "23px";
    left: 0;
    top: 30px;
}

.tr:after {
    content: "130px";
    left: 130px;
    top: 80px;
}

.bl {
    left: -50px;
    bottom: -71px;
    font-weight: 600;
}

.bl:before {
    content: "110px";
    left: 120px;
    top: -30px;
}

.bl:after {
    content: "19px";
    left: 0px;
    top: -90px;
}

.br {
    right: -50px;
    bottom: -63px;
    font-weight: 600;
}

.br:before {
    content: "120px";
    left: 0;
    top: -30px;
}

.br:after {
    content: "24px";
    right: -10px;
    top: -80px;
}

pre {
    background: #edeff5;
    padding: 20px;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
