/* StyleTransferForm.css */

body, html {
  height: 100%;
  margin: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(163,205,255,1) 100%);

}

/* Add a magenta gradient background */

.style-transfer-form {
  margin-top:100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

.upload-section {
  display: flex;
  justify-content: space-around;
  width: 80%;
  
}

.upload-box
{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,42,116,0.35057773109243695) 16%, rgba(0,212,255,1) 62%);
  border: solid rgb(164, 169, 179);
  border-radius: 5%;
}
.slider-section {
  margin-top: 100px;
  width: 40%;
  margin-left: 120px;

}

.transfer-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.generated-image {
  margin-top: 20px;
}

.generated-image img {
  max-width: 100%;
}

.generated-image a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.genz {
  border-radius: 20px;
}

@keyframes mergeAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.upload-animation {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  position: absolute;
  animation: mergeAnimation 1.5s ease-out;
}

.signout-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #EFEEC2;
  border: 1px solid #fff;
  padding: 10px 20px;
  transition: background-color 0.3s;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1em;
  border-radius: 20px;
}

.signout-btn:hover {
  background-color: #FFD1AA;
}

.loaderx {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

.login-icon-container {
  position: fixed;
  right: 20px; /* Adjust as needed */
  top: 20px; /* Adjust as needed */
  display: flex;
  align-items: center;
}


.login-icon {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 20px;
  height: 10vh;
}

/* Popup user details styles */
.user-details-popup {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#welcome-msg {
  margin-left: 10px;
}
